In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

In [ ]:
!cat  pydata-book/examples/ex1.csv

In [ ]:
df = pd.read_csv('pydata-book/examples/ex1.csv')
df

In [ ]:
pd.read_table('pydata-book/examples/ex1.csv', sep=',')

In [ ]:
!cat pydata-book/examples/ex2.csv

In [ ]:
pd.read_csv('pydata-book/examples/ex2.csv', header=None)

In [ ]:
pd.read_csv('pydata-book/examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

In [ ]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('pydata-book/examples/ex2.csv', names=names, index_col='message')

In [ ]:
!cat pydata-book/examples/csv_mindex.csv

In [ ]:
parsed = pd.read_csv('pydata-book/examples/csv_mindex.csv',
                     index_col=['key1', 'key2'])
parsed

In [ ]:
list(open('pydata-book/examples/ex3.txt'))

In [ ]:

result = pd.read_table('pydata-book/examples/ex3.txt', sep='\s+')
result

In [ ]:
!cat pydata-book/examples/ex4.csv

In [ ]:
pd.read_csv('pydata-book/examples/ex4.csv', skiprows=[0, 2, 3])

In [ ]:
!cat pydata-book/examples/ex5.csv

In [ ]:
result = pd.read_csv('pydata-book/examples/ex5.csv')
result

In [ ]:
pd.isnull(result)

In [ ]:
result = pd.read_csv('pydata-book/examples/ex5.csv', na_values=['NULL'])
result

In [ ]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('pydata-book/examples/ex5.csv', na_values=sentinels)

In [ ]:
pd.options.display.max_rows = 10

In [ ]:
result = pd.read_csv('pydata-book/examples/ex6.csv')
result

In [ ]:
pd.read_csv('pydata-book/examples/ex6.csv', nrows=5)

In [ ]:
chunker = pd.read_csv('pydata-book/examples/ex6.csv', chunksize=1000)
chunker

In [ ]:
chunker = pd.read_csv('pydata-book/examples/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

In [ ]:
tot[:10]

In [ ]:
data = pd.read_csv('pydata-book/examples/ex5.csv')
data

In [ ]:
data.to_csv('pydata-book/examples/out.csv') #saves to another file
!cat pydata-book/examples/out.csv

In [ ]:
import sys
data.to_csv(sys.stdout, sep='|')

In [ ]:
data.to_csv(sys.stdout, na_rep='NULL')

In [ ]:
data.to_csv(sys.stdout, index=False, header=False)

In [ ]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

In [ ]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('pydata-book/examples/tseries.csv')

In [ ]:
!cat pydata-book/examples/tseries.csv

In [ ]:
!cat pydata-book/examples/ex7.csv

In [ ]:
import csv
f = open('pydata-book/examples/ex7.csv')

reader = csv.reader(f)

In [ ]:
for line in reader:
    print(line)

In [ ]:
with open('pydata-book/examples/ex7.csv') as f:
    lines = list(csv.reader(f))
lines

In [ ]:
header, values = lines[0], lines[1:]

In [ ]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

In [ ]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [ ]:
import json
result = json.loads(obj)
result

In [ ]:
asjson = json.dumps(result)
asjson

In [ ]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

In [ ]:
!cat pydata-book/examples/example.json

In [ ]:
data = pd.read_json('pydata-book/examples/example.json')
data

In [ ]:
print(data.to_json())

In [ ]:
print(data.to_json(orient='records'))

In [ ]:
tables = pd.read_html('pydata-book/examples/fdic_failed_bank_list.html')
len(tables)

In [ ]:
failures = tables[0]
failures.head()

In [ ]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

In [ ]:
from lxml import objectify

path = 'pydata-book/datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [ ]:
!cat 'pydata-book/datasets/mta_perf/Performance_MNR.xml'

In [ ]:
root

In [ ]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [ ]:
root.INDICATOR

In [ ]:
perf = pd.DataFrame(data)
perf.head()

In [ ]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [ ]:
root

In [ ]:
root.get('href')

In [ ]:
root.text

In [ ]:
frame = pd.read_csv('pydata-book/examples/ex1.csv')
frame

In [ ]:
frame.to_pickle('pydata-book/examples/frame_pickle')

In [ ]:
pd.read_pickle('pydata-book/examples/frame_pickle')

In [ ]:
!rm pydata-book/examples/frame_pickle

In [ ]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

In [ ]:
store['obj1']

In [ ]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])
store.close()

In [ ]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

In [ ]:
os.remove('mydata.h5')

In [ ]:
xlsx = pd.ExcelFile('pydata-book/examples/ex1.xlsx')

In [ ]:
pd.read_excel(xlsx, 'Sheet1')

In [ ]:
frame = pd.read_excel('pydata-book/examples/ex1.xlsx', 'Sheet1')
frame

In [ ]:
writer = pd.ExcelWriter('pydata-book/examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

In [ ]:
frame.to_excel('pydata-book/examples/ex2.xlsx')

In [ ]:
!rm pydata-book/examples/ex2.xlsx

In [ ]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [ ]:
data = resp.json()
data[0]['title']

In [ ]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

In [3]:
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata.sqlite')
con.execute(query)

OperationalError: table test already exists

In [4]:
con.commit()

In [5]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [6]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [7]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [8]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [9]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [10]:
!rm mydata.sqlite